body {
  background-color: rgba(72, 72, 72, 1);
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 300px;
}

#generate {
    border: 5px solid black;
    background-color: rgba(0, 123, 109, 1);
    border-radius: 25px;
    color: rgba(224, 225, 221, 1);
    font-size: 100%;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
  }

#generate:hover, button:focus {
    box-shadow: 0 0 20px rgba(25, 26, 29, 1) inset, 5px 5px 5px rgba(25, 26, 29, 1);
  }

#generate:active {
    font-size: 95%;
  }